body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.background-container
{
    width: 100%;
    height: 300px;
    background-image: url('building home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.background-container2
{
    background-image: url('invesment.jpg');
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.top-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

form label {
    color: white;
}

form input, form select {
    padding: 5px;
    margin-right: 10px;
}

form button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#results {
    padding: 20px;
}
h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}
.text-container
{
    text-align: center;
    width: 50%;
}
